body {
    background-color: black;
}


.nav-bar {
    margin-top: 65px;
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.logo {
    width: 90px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    letter-spacing: -0.25px;
    color: #FFFFFF;
}


.list {
    width: 276px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 140% */
    color: #FFFFFF;

}


.header-section {
    width: 265px;
    height: 102px;
    display: flex;
    justify-content: center;
    border: 1px solid white;
}


h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 84px;
    line-height: 102px;
    /* identical to box height, or 121% */
    letter-spacing: -2px;
    color: #FFFFFF;
}



.main-info {
    border: 1px solid white;
    max-width: 574px;
    width: 100%;
}



.main-info-text {

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    /* or 155% */
    text-align: center;
    color: #FFFFFF;

}


.main-section {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid red;
}



.img-container {
    border: 1px solid aqua;
    margin-top: 45px;
    display: flex;
    justify-content: center;
}